    @import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    * {
        font-family: 'Tinos', cursive;
    }
    
    body {
        background: #FDAF8A;
    }
    
    .custom-color {
        color: #000!important;
        background: #CB6688;
        border-color: #755A83!important;
    }
    
    .custom-color-inverse {
        color: #fff!important;
        background: #265E84;
        border-color: #755A83!important;
    }
    
    .text-justify {
        text-align: justify;
    }
    
    .custom-menu-item:hover {
        background-color: #755A83!important;
    }
    
    .color-pallete {
        height: 2.0rem;
    }
    
    .phone-number:hover {
        text-decoration: underline!important;
    }
    
    .email-contact:hover {
        text-decoration: underline!important;
    }
    
    .custom-ul-size {
        font-size: 18px;
    }